# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Streamlit secrets file
.streamlit/secrets.toml

# IDE/editor config files
.vscode/
.idea/

# Miscellaneous system files
.DS_Store
Thumbs.db